<div class="editor">
    <form role="form" name="noteForm" data-ng-submit="notes.addNote()">
        <div class="input-group">
            <textarea data-ng-model="notes.newNote" rows="12" class="note-pad form-control" required></textarea>
            <div class="note-buttons">
                <input type="submit" class="btn btn-success" value="Save">
                <input class="btn btn-danger" value="Start Over" data-ng-click="notes.newNote = ''">
            </div>
        </div>
    </form>
</div>